<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout :: head}"></head>
<body class="container-fluid">
<div th:replace="~{layout :: header}"></div>
<main>
    <h2>Les Articles</h2>
    <table class="table table-bordered border-primary text-center">
        <thead>
        <tr>
            <th class="col-2">Title</th>
            <th class="col-2">Published Date</th>
            <th class="col-2">actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${!articles.isEmpty()}" th:each="article : ${articles}">
            <td th:text="${article.title}"></td>
            <td th:text="${{article.published_date}}"></td>
            <td>
                <a th:href="@{'/web/article/' + ${article.id}}">Voir</a>
            </td>
        </tr>
        <tr th:if="${articles.isEmpty()}">
            <td colspan="5"><h2>Pas d'articles</h2></td>
        </tr>
        </tbody>
    </table>
</main>
<div th:replace="~{layout :: footer}"></div>
</body>
</html>
